function on_enter() {
    export PYTHONPATH=console-ui:core:demo-level
    export PYTEST_WATCH_EXCLUDE=".*\/__pycache__\/.*"
    export PYTEST_WATCH_INCLUDE="console-ui core demo-level"
    [ -e venv/bin/activate ] && source venv/bin/activate
}

function on_exit() {
    unset PYTHONPATH
    unset PYTEST_WATCH_EXCLUDE
    unset PYTEST_WATCH_INCLUDE
    type deactivate > /dev/null && deactivate
}
